{% extends 'base.html' %}
{% block content %}

<h1>Customer Record:</h1>

{{ customer_record }}  <!--we are able to just use customer record because we passed it in when we rendered request-->
<div class="card">
    <div class="card-header">
        {{ customer_record.first_name }} 
        {{ customer_record.last_name }}
    </div>
    <div class="card-body">
      <p>
        Name: {{ customer_record.first_name }} 
        {{ customer_record.last_name }} <br/>
        <strong>Name:</strong> {{ customer_record.first_name }} <br/>
        {{ customer_record.last_name }}<br/>
        <strong>Email:</strong> {{ customer_record.email }}<br/>
        <strong>Phone:</strong> {{ customer_record.phone }}<br/>
        <strong>Address:</strong> {{ customer_record.address }}<br/>
        <strong>City:</strong> {{ customer_record.city }}<br/>
        <strong>State:</strong> {{ customer_record.state }}<br/>
        <strong>Zip:</strong> {{ customer_record.zipcode }}<br/>
        <strong>Created At:</strong> {{ customer_record.created_at }}<br/>
        <strong>ID:</strong>{{ record.id }}
      </p>
    </div>
  </div>

<br/><br/>
<a href="{% url 'home' %}" class = "btn btn-secondary">Back</a>
<a href="{% url 'update_record' customer_record.id %}" class = "btn btn-secondary">Update</a>
<a href="{% url 'delete_record' customer_record.id %}" class = "btn btn-danger">Delete</a>

{% endblock %}